/* CSS RESET - Jack Turner style, few enough rules you can grasp it in your mindbrain */
* {
    margin:             0px;
    padding:            0px;
    }
  
img {
    border:             none;
    vertical-align:     middle;
    }

h1, h2, h3, h4, h5, h6 {
    font-weight:        bold;
    text-align:         left;
    }

html {
    box-sizing:         border-box;
    }

*, *:before, *:after {
    box-sizing:         inherit;
    }

/* Custom fonts */

@font-face {
    font-family: 'blackout_midnight';
    src: url('webfonts/blackout_midnight-webfont.woff') format('woff'),
         url('webfonts/blackout_midnight-webfont.svg') format('svg'),
         url('webfonts/blackout_midnight-webfont.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;

}

a {
    padding:            5px auto;
}

p {
    padding:            10px;
}


/* General styling */
body {
    margin:             20px 80px 60px;
    font-size:          18px;
    line-height:        1.4;
    font-family:        Helvetica, sans-serif;
    }

header {
    margin:             5px 0px 10px;
    font-size:          60px;
    font-family:        'blackout_midnight', Helvetica, sans-serif;
    text-align:         left;
    line-height:        1;
    border-bottom:      3px solid black;

    }



/* Responsive stuff */
@media    (max-width: 450px) {

    header {
    margin:             10px 20px;
    font-size:          20px;
    font-family:        sans-serif;
    text-align:         center;
    font-weight:        bold;
    font-style:         bold;
    }

    body {
    margin:             10px 20px;
    font-size:          14px;
    font-family:        sans-serif;
    text-align:         left;
    font-weight:        normal;
    font-style:         normal;
    }

    }

