/* CSS RESET - Jack Turner style, few enough rules you can grasp it in your mindbrain */
* {
    margin:             0px;
    padding:            0px;
    }
  
img {
    border:             none;
    vertical-align:     middle;
    }

h1, h2, h3, h4, h5, h6 {
    font-weight:        bold;
    text-align:         left;
    }

html {
    box-sizing:         border-box;
    }

*, *:before, *:after {
    box-sizing:         inherit;
    }

/* Custom fonts */

@font-face {
    font-family: 'blackout_midnight';
    src: url('webfonts/blackout_midnight-webfont.woff') format('woff'),
         url('webfonts/blackout_midnight-webfont.svg') format('svg'),
         url('webfonts/blackout_midnight-webfont.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'blackout_sunrise';
    src: url('webfonts/blackout_sunrise-webfont.woff') format('woff'),
         url('webfonts/blackout_sunrise-webfont.svg') format('svg'),
         url('webfonts/blackout_sunrise-webfont.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'blackout_two_am';
    src: url('webfonts/blackout_two_am-webfont.woff') format('woff'),
         url('webfonts/blackout_two_am-webfont.svg') format('svg'),
         url('webfonts/blackout_two_am-webfont.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'junctionbold';
    src: url('webfonts/junction-bold.woff2') format('woff2'),
         url('webfonts/junction-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'junctionlight';
    src: url('webfonts/junction-light.woff2') format('woff2'),
         url('webfonts/junction-light.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'junctionregular';
    src: url('webfonts/junction-regular.woff2') format('woff2'),
         url('webfonts/junction-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/*end custom fonts*/



a {
    padding:            5px auto;
    color:              black;
}

p {
    padding:            10px;
}


/* General styling */


header {
    margin:             10px 2px;
    font-size:          60px;
    font-family:        'blackout_midnight', Helvetica, sans-serif;
    text-align:         left;
    color:              #FFFFFF;
    line-height:        1;
    padding:            30px 2px 20px 10px;
    background:         black;
    }

body {
    margin:             15px;
    font-size:          18px;
    line-height:        1.5;
    font-family:        'junctionregular', Helvetica, sans-serif;

    }
/*list syling*/

#list-text {
    margin:             30px 35px;

}

/*Hot Topics text box*/

.special {
    border:             2px solid black;
    padding:            10px;
    margin:             30px 0px;
    font-size:          16px;
    font-family:        'junctionlight', Helvetica, sans-serif;
    width:              30%;
    float:              right;

}

.special h4 {
    font-size:          20px;
    font-family:        'junctionbold', Helvetica, sans-serif;

}

/*Footer*/

.footer {
  position: relative;
  right:            0;
  bottom:           0;
  left:             0;
  padding:          1em;
  background-color: #efefef;
  text-align:       center;
  clear:            both;
}

/* Responsive stuff */
@media    (max-width: 600px) {

    header {
    margin:             0px;
    padding:            10px 10px;
    font-size:          26px;
    font-family:        'blackout_midnight', Helvetica, sans-serif;
    text-align:         center;
    font-weight:        bold;
    font-style:         bold;
    }

.special {
    border:             2px solid black;
    padding:            5px;
    font-size:          16px;
    font-family:        sans-serif;
    width:              100%;
    display:            inline-block;
}

.special h4 {
    font-size:          20px;
    font-family:        sans-serif;
    padding:            5px 5px 5px 7px;

}

    body {
    margin:             10px;
    font-size:          14px;
    font-family:        sans-serif;
    text-align:         left;
    font-weight:        normal;
    font-style:         normal;
    }
   


    }

